select {
    height: 70px;
    line-height: 40px;
    font-size: 30px;
}

#bookitem {
    height: 10rem;
}

#bname {
    width: 150px;
    height: 25px;
    overflow: hidden;
}

#bookdsc {
    height: 150px;
    overflow: auto;
}