<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/forget.css">

</head>
<bod>
  <form class="modal-content" method="post" action="/sendforgetemail">
    <div class="container">
      <h1>Recover Password</h1>
      {{msg}}
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email to recover password" name="email" required>
      <center> <button input="submit" class="continuebtn">Recover</button></center>
    </div>
  </form>
</bod>

</html>