<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/login.css">
  <script src="/public/js/login.js"></script>
</head>

<body>
  <form class="modal-content" method="post" action="/validate">
    <h3>Login</h3>
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
    </div>
    <p id="message">&nbsp;&nbsp;&nbsp;&nbsp;{{msg}}</p>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="signupbtn">Sign Up</button>
      <span class="psw">Forgot <a href="/forget">password?</a></span>
    </div>
  </form>
</body>

</html>